#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  font-family: Arial, sans-serif;
  max-width: 50vw;
  /* margin: 0 auto; */
  padding: 20px;
  background-color: #9f9f9f;
  border-radius: 5px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

header h1 {
  color: rgb(179, 42, 42);
  border: 2px solid rgb(179, 42, 42);
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

section h2 {
  color: #333;
  border-bottom: 2px solid #eaeaea;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* ul {
  list-style-type: disc;
  margin-left: 20px;
} */

address {
  line-height: 1.5;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #777;
}

.contact-form input,
.contact-form textarea,
.contact-form button {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  box-sizing: border-box;
}

.contact-form button {
  background-color: rgb(179, 42, 42);
  color: #fff;
  cursor: pointer;
  border: none;
}

/* li {
  padding-left: 0px;
  margin-left: 0px;
} */
